/*

Add styles or override variables from the theme here.

*/
// Colors
$primary: #198754;
$secondary: #FFF4E3;
$info: #cce0d7;
$dark: #444;

// Typography
$google_font_name: "Montserrat";

// Search results popover max-width.
.td-offline-search-results {
    max-width: 460px;
}
  
// quiero q todas las etiquetas a activas tengan el color de fondo verde
.td-sidebar-nav a.active {
    color: var(--bs-link-color);
}
