<div id="cookie-notice">
        <div>
            <span> {{ i18n "cookieconsent_message" }}
                {{ with site.Params.privacyPolicyUrl }}<a href="{{ . }}">{{ i18n "privacy_policy" }}</a>{{ end }}</span>
        </div>
        <div class="div-buttons-cookies">
            <button id="cookie-notice-accept" class="buttons-cookies btn btn-primary btn-sm ">{{ i18n "cookieconsent_accept" }}</button>
            <button id="cookie-notice-deny" class="buttons-cookies buttons-cookies-decline btn btn-primary btn-sm">{{ i18n "cookieconsent_decline" }}</button>
        </div>
    
</div>
<div id="cookies-overlay"></div>
<script src="cookie_consent.js"></script>