{{ $specUrl := .Get 0 }}
<!doctype html>
<html>
<head>
  <meta charset="utf-8"> 
  <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  <style>
    rapi-doc {
      background-color: white !important;
      padding-top: 60px; 
    }
  </style>
</head>
<body>
  <rapi-doc
    id="api-doc"
    spec-url="{{ $specUrl }}"
    theme="light"
    render-style="focused"
    regular-font="Montserrat"
    mono-font="Montserrat"
    allow-try="false"
    primary-color="#198754"
    nav-text-color="black"
    nav-bg-color="#ffffff"
    font-size="largest"
    show-method-in-nav-bar="as-colored-block"
    show-info="false"
    show-components="true"
    allow-authentication="false"
    allow-server-selection="false"
    allow-spec-file-load="false"
    allow-spec-url-load="false"
    show-header="false"
    schema-expand-level="2"
  ></rapi-doc>

  <script>
    const apiDoc = document.getElementById('api-doc');

    function updateRenderStyle() {
      if (window.innerWidth < 768) {
        apiDoc.setAttribute('render-style', 'view');
      } else {
        apiDoc.setAttribute('render-style', 'focused');
      }
    }

    // Initial check
    updateRenderStyle();

    // Update on resize
    window.addEventListener('resize', updateRenderStyle);
  </script>
</body>
</html>